$white: #ffffff;
$lightgray: #d3d3d3;
$darkgray: #a9a9a9;

$link-color: #646cff;
$link-color-hover: #535bf2;
$button-color: #1a1a1a;
$button-color-hover: #646cff;

$footer-bg: #4f4e4e;

$header-bg: #f5f5f5;
$header-active-menu: #ff0494;

$spinner-border: rgba(0, 0, 0, 0.1);
$spinner-border-top: #3498db;

$error-bg: #f1c3b0;
$error-text: #ff0000;
